body,
html {
    font: 16px/1.4 Georgia, serif;
}

.page {
  max-width: 400px;
  padding: 2rem;
  margin: 0 auto;
  text-align center;
  user-select: none; // чтобы не выделялось курсором

  .shuffleParams {
    background #747d96;
    font: 1rem/1.2 Georgia, serif;
    padding: 0.5em 1.2em;

    img {
      width: 10px;
      height 10px;
      transition: 0.3s transform;
      transform: rotate(0deg);
      margin-left: 7px;
    }

    .open {
      transform: rotate(90deg);
    }
  }

  .shuffleCountWrapper {
    height: 0;
    overflow hidden;
    padding: 0;
    background-color: #c5c4c4;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s all;

    input {
      max-width: 50px;
      margin-right: 15px;
      border-radius: 10px;
      border: none;
      padding: 5px 10px;
      text-align: center;
      font-size: 1rem/1.2;
    }

    button {
      margin-bottom: 0;
      font: 1rem/1.5 Georgia,serif;
    }
  }

  .shuffleCountWrapperActive {
    padding: 15px;
    height: auto;
  }
}

h1 {
  font: 2rem/1.2 Georgia;
  margin-bottom: 1em;
}

.game {
  &Shuffle {
    pointer-events: none;
    opacity: 0.5;
    transition: 0.5s all;
  }
}

.fifteen {
  width 100%;
  padding-bottom 100%;
  background: #c0c0c0;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

  .item {
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width 25%;
    height 25%;
    margin: 0;
    padding: 0;
    border: none;
    background: #3b404d;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    box-shadow inset 1px 1px white;
    transition: transform 0.2s, filter 0.5s;

    &Val {
      display: flex;
      align-items: center;
      justify-content: center;
      width 84%;
      height: 84%;
      margin: 8%;
      background-color: #4b4e59;
      border-radius: 10px;
      /*box-shadow: inset 0 0 0 2px #bbbbbb;*/
    }
  }

&Won {
  .item {
    filter: brightness(200%);
  }
}
}

.button {
  color: #fff;
  background #484e5e;
  border-radius: 10px;
  font: 1.2rem/1.4 Georgia, serif;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.5em;
  margin-bottom: 10px;

  &hover {
    background: #922ec5;
  }
}

@media only screen and (max-width: 500px) {
  body,
  html {
    font-size: 13px;
  }
}